<a href="https://colab.research.google.com/github/komalshelar16/Natural-Language-Processing/blob/main/NLP_Exp_4_Text_Cleaning_(removing_Email_address_and_HTML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving twitter4000.csv to twitter4000.csv

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
data_in = pd.read_csv('/content/twitter4000.csv')
data_in

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [10]:
data_in.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [11]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   twitts     4000 non-null   object
 1   sentiment  4000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 62.6+ KB

For removing email address

In [4]:
pattern = r'\w+@\w+.\w+'
data_in['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: twitts, Length: 4000, dtype: object

In [5]:
pattern = r'\b[A-Za-z0-9.+_-]+@[A-Za-z.-]+.[A-Za-z]{2,}\b'
data_in['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: twitts, Length: 4000, dtype: object

For removing any website links

In [6]:
pattern = r'http\S+ |www\.\S+'
data_in['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: twitts, Length: 4000, dtype: object

In [7]:
import re
x = 'www.google.com is the website for finding the sentence.'
pattern = r'www\.+\S+'
output = re.findall(pattern,x)
print(output)

['www.google.com']

For HTML

In [8]:
pattern = r'\b<\S+\b'
data_in['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: twitts, Length: 4000, dtype: object

For numbers

In [9]:
pattern = r'\b[0-9]+\b'
data_in['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: twitts, Length: 4000, dtype: object