<a href="https://colab.research.google.com/github/komalshelar16/Natural-Language-Processing/blob/main/NLP_Exp_3_Text_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving twitter4000.csv to twitter4000.csv

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import re

In [5]:
data_in = pd.read_csv('/content/twitter4000.csv')
data_in

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [6]:
data_in.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [7]:
data_in.tail()

                                                 twitts  sentiment
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

For sample

In [8]:
data_in.sample(5)

                                                 twitts  sentiment
12                                   can't fall asleep           0
2175  @Mareeclo thank you!!!! thank you!!!!!!    goo...          1
1967                       omg i know @madisonxgeorgie           0
2890  @cbain84  heylooooooo. can u believe maries go...          1
1519  So tired of studying and sick.  i don't know i...          0

In [9]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   twitts     4000 non-null   object
 1   sentiment  4000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 62.6+ KB

In [10]:
data_in.count()

twitts       4000
sentiment    4000
dtype: int64

In [11]:
data_in.isnull().sum()

twitts       0
sentiment    0
dtype: int64

In [12]:
data_in['sentiment'].value_counts()

sentiment
0    2000
1    2000
Name: count, dtype: int64

In [13]:
pattern =r'\s'
data_in['twitts'].apply(lambda x:len(re.sub(pattern,'',x)))

0        43
1        32
2        54
3        27
4       116
       ...
3995     14
3996     32
3997     27
3998     45
3999     63
Name: twitts, Length: 4000, dtype: int64

In [14]:
data_in

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [15]:
data_in['char_counts'] = data_in['twitts'].apply(lambda x:len(re.sub(pattern,'',x)))
data_in

,twitts,sentiment,char_counts
0,is bored and wants to watch a movie any sugge...,0,43
1,back in miami. waiting to unboard ship,0,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,54
3,ughhh i am so tired blahhhhhhhhh,0,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,116
...,...,...,...
3995,i just graduated,1,14
3996,Templating works; it all has to be done,1,32
3997,mommy just brought me starbucks,1,27
3998,@omarepps watching you on a House re-run...lov...,1,45
3999,Thanks for trying to make me smile I'll make y...,1,63

In [16]:
data_in['word_counts'] = data_in['twitts'].apply(lambda x:len(x.split()))
data_in.sample()

,twitts,sentiment,char_counts,word_counts
555,On the way to the mall..at least this time the...,0,83,21

In [17]:
data_in['avg_word_length'] = data_in['char_counts']/data_in['word_counts']
data_in.sample(3)

,twitts,sentiment,char_counts,word_counts,avg_word_length
978,"OF on the peppercorn, feeling sick now",0,32,7,4.571429
3658,Off to see Star Trek with anthony and the fam....,1,58,14,4.142857
1287,i wish i could get a palm pre too bad im an e...,0,69,21,3.285714

In [18]:
data_in['avg_word_length'].apply(lambda x: round(x,2))

0       4.30
1       4.57
2       4.50
3       4.50
4       4.46
        ...
3995    4.67
3996    4.00
3997    5.40
3998    5.62
3999    3.94
Name: avg_word_length, Length: 4000, dtype: float64

In [19]:
data_in['hashtag_tags_count'] =data_in['twitts'].apply(lambda x:len(re.findall(r'#\w+',x)))
data_in.sample(3)

,twitts,sentiment,char_counts,word_counts,avg_word_length,hashtag_tags_count
500,"@brandonleblanc Yeah I know, my frustration is...",0,112,26,4.307692,0
785,@MrGHETTISTORY I HANDLED IT BETTER THAN I THOU...,0,108,25,4.320000,0
3633,Goin 2 bed! Gona have a total pamper day 2moro...,1,58,13,4.461538,0

In [20]:
data_in['mentions_count'] =data_in['twitts'].apply(lambda x:len(re.findall(r'@\w+',x)))
data_in

,twitts,sentiment,char_counts,word_counts,avg_word_length,hashtag_tags_count,mentions_count
0,is bored and wants to watch a movie any sugge...,0,43,10,4.300000,0,0
1,back in miami. waiting to unboard ship,0,32,7,4.571429,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,54,12,4.500000,0,1
3,ughhh i am so tired blahhhhhhhhh,0,27,6,4.500000,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,116,26,4.461538,0,1
...,...,...,...,...,...,...,...
3995,i just graduated,1,14,3,4.666667,0,0
3996,Templating works; it all has to be done,1,32,8,4.000000,0,0
3997,mommy just brought me starbucks,1,27,5,5.400000,0,0
3998,@omarepps watching you on a House re-run...lov...,1,45,8,5.625000,0,1
3999,Thanks for trying to make me smile I'll make y...,1,63,16,3.937500,0,0

In [21]:
data_in.sample(3)

,twitts,sentiment,char_counts,word_counts,avg_word_length,hashtag_tags_count,mentions_count
3114,"@plushapo Sounds awesome, where are you? Som...",1,100,17,5.882353,0,1
2582,@20ishtraveler Today's the big day! you've alr...,1,112,20,5.600000,0,1
2622,I just want to be there When the morning light...,1,94,25,3.760000,0,0

In [22]:
data_in['mentions_count'].value_counts()

mentions_count
0    2153
1    1752
2      75
3      11
4       6
9       2
5       1
Name: count, dtype: int64

In [23]:
data_in[data_in['mentions_count']>0]

,twitts,sentiment,char_counts,word_counts,avg_word_length,hashtag_tags_count,mentions_count
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,54,12,4.500000,0,1
4,@mandagoforth me bad! It's funny though. Zacha...,0,116,26,4.461538,0,1
6,@kevinmarquis haha yep but i really need to sl...,0,94,22,4.272727,0,1
7,eating some ice-cream while I try to see @pete...,0,88,14,6.285714,0,1
8,@phatty84 just hella bored at work lol,0,32,7,4.571429,0,1
...,...,...,...,...,...,...,...
3989,"@imjstsayin have a good night, get your writin...",1,55,14,3.928571,0,1
3990,@LittleFletcher sounds great!!!! I hope you lo...,1,57,10,5.700000,0,1
3993,"@imstardust heyhey darling, would you be free ...",1,93,19,4.894737,0,1
3994,@saravananr @HeyCameron @thejetset thanks for ...,1,72,11,6.545455,0,3
3998,@omarepps watching you on a House re-run...lov...,1,45,8,5.625000,0,1

In [24]:
data_in['twitts'].apply(lambda x: len([word for word in x.split() if word.isupper()]))

0       0
1       0
2       1
3       0
4       0
       ..
3995    0
3996    0
3997    0
3998    0
3999    0
Name: twitts, Length: 4000, dtype: int64

In [25]:
data_in['upperCase_count'] = data_in['twitts'].apply(lambda x: len([word for word in x.split() if word.isupper()]))

In [26]:
data_in.sample(3)

,twitts,sentiment,char_counts,word_counts,avg_word_length,hashtag_tags_count,mentions_count,upperCase_count
1933,I want to puke,0,11,4,2.750000,0,0,1
3577,@jaime_fox @jason_mcintyre Sorry abt game 1 S...,1,110,25,4.400000,0,2,0
185,I don't know what happened... there were some ...,0,64,14,4.571429,0,0,1

In [27]:
data_in['twitts'].apply(lambda x: re.sub(r'\s+',' ', x).lower())

0       is bored and wants to watch a movie any sugges...
1                 back in miami. waiting to unboard ship
2       @misskpey awwww dnt dis brng bak memoriessss, ...
3                        ughhh i am so tired blahhhhhhhhh
4       @mandagoforth me bad! it's funny though. zacha...
                              ...
3995                                    i just graduated
3996             templating works; it all has to be done
3997                     mommy just brought me starbucks
3998    @omarepps watching you on a house re-run...lov...
3999    thanks for trying to make me smile i'll make y...
Name: twitts, Length: 4000, dtype: object

In [28]:
pattern = r'@\w+'
data_in['twitts'].apply(lambda x: re.sub(pattern,'',x).strip())

0       is bored and wants to watch a movie  any sugge...
1                 back in miami.  waiting to unboard ship
2       awwww dnt dis brng bak memoriessss,  I thnk I'...
3                       ughhh i am so tired  blahhhhhhhhh
4       me bad! It's funny though. Zachary Quinto is o...
                              ...
3995                                     i just graduated
3996              Templating works; it all has to be done
3997                      mommy just brought me starbucks
3998           watching you on a House re-run...lovin it.
3999    Thanks for trying to make me smile I'll make y...
Name: twitts, Length: 4000, dtype: object

Only the words and space remain

In [29]:
pattern = r'[^\w\s]'
data_in['twitts'].apply(lambda x: re.sub(pattern,'',x))

0       is bored and wants to watch a movie  any sugge...
1                 back in miami  waiting to unboard ship
2       misskpey awwww dnt dis brng bak memoriessss  I...
3                       ughhh i am so tired  blahhhhhhhhh
4       mandagoforth me bad Its funny though Zachary Q...
                              ...
3995                                    i just graduated
3996             Templating works it all has to be done
3997                     mommy just brought me starbucks
3998      omarepps watching you on a House rerunlovin it
3999    Thanks for trying to make me smile Ill make yo...
Name: twitts, Length: 4000, dtype: object